link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet"

.row{
   margin-right: 0 !important;
    margin-left: 0 !important;
}
header {
    background-color: #6cb4a6;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    
}
.nav-link{
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #333;
   
}

#quote{
    font-size: 190px;
    line-height: 90%;
    color: #f9f9f1;
    font-weight: 900;
}
footer{
    background-color: #6cb4a6;
    height: 20vh;
}
#top-txt{
    color: white;
    font-size: 69px;
    position: relative;
    margin-top: 100px;
}
svg{
    height: 400px;
}
.top{
    position: relative;
    top: 150px;
}
.top-h{
    color:#52d1bbbb;
    padding-left: 35px;
    padding-right: 35px;
}


.myh1{
    color:#6cb4a6;
    font-size: 62px;
    text-align: center;
    text-transform: uppercase;
}
.myh2{
    color:#6cb4a6;
    text-transform: uppercase;
    font-size: 42px;
    
}
.myh3{
    color:#6cb4a6;
    text-transform: uppercase;
    font-size: 42px;
}

.btn-social {
    font-size: 2.5rem;
}
.background-web{
    background-color: #f9f9f1;
    
}
.background-web2{
    background-color: #fff;
    
}
.background-web3{
    background-color: #f9f9f1;
    
}
.info-text{
    position:relative;
    top: 40px;
}
.tjeneste{
    position: relative;
    top: 190px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    
}
.form-control{
    border: 2px solid #6cb4a6;
}
label{
    color: #6cb4a6;
}
input{
    color: pink;
}
/*----topknapp----*/
.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .3s;
  font-weight: 800;
  margin-top:20px;
}

.btn-white{
  background:#fff;
  color:#000;
}
.btn-green{
  background:#6cb4a6;
  color:#fff;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
 
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 


/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    #top-txt {
        font-size: 25px;
        margin-top: 40px;
    }

    .info-text {
        top: 1px;

    }

    #quote {
        font-size: 80px;
        line-height: 50%;
    }

    svg {
        height: 250px;
    }

    .btn-social:link {
        padding: 3px
    }
    }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }
